/*Feuille de Style pour version Desktop*/

* {
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	font-family: "Raleway", "sans-serif";
	font-size: 18px;
}
main {
	margin: 0 50px;
}
/* Mise en page de l'entête */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo_booki {
	display: block;
	margin-left: 20px;
}
.logo_booki img {
	width: 90px;
}
nav .liens_header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
}
.liens_header a {
	color: black;
	text-decoration: none;
	padding: 45px 35px;
	border-top: 3px solid transparent;
}

/* Intégration de la bordure au passage souris desktop*/
.liens_header a:hover {
	color: #0065fc;
	border-top: 3px solid #0065fc;
	align-items: center;
}

/* Zone de recherche */

h1 {
	margin-bottom: 10px;
	font-size: 20px;
}
.subtitle {
	display: block;
	margin-bottom: 20px;
	font-size: 13px;
	color: black;
}
#search-bar {
	display: flex;
	margin-bottom: 20px;
}
.fa-map-marker-alt {
	font-size: 19px;
}
#search-bar .geoloc {
	display: flex;
	width: 50px;
	margin: -1px;
	font-size: 25px;
	background-color: #f2f2f2;
	border-radius: 15px 0 0 15px;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	margin: -1px 0px;
	height: 50px;
	justify-content: flex-start;
}
input {
	color: white;
	background-color: #0065fc;
	border: none;
	border-radius: 0 15px 15px 0;
	padding: 0 15px;
	width: 100%;
	font-weight: bolder;
	cursor: pointer;
}
#zone_texte {
	background-color: #fff;
	border-radius: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid #f2f2f2;
	color: black;
	width: 214px;
}
::placeholder {
	color: black;
}

#search-bar .loupe {
	display: none;
}

/* Filtres */

.filter_title {
	font-size: 16px;
	font-weight: bold;
}
.box-filtre {
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0 18px 0;
	gap: 25px 25px;
}
.button-icon {
	display: flex;
	background-color: #deebff;
	color: #0065fc;
	width: 50px;
	height: 50px;
	border-radius: 40px;
	align-items: center;
	justify-content: center;
}
.button-global {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #f2f2f2;
	border-left: none;
	background-color: white;
	color: black;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	padding: 1px;
	border-radius: 45px;
	cursor: pointer;
	transition: 0.3s;
}
.button-text {
	text-align: center;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}
/*changement de couleur des filtres au survol*/

.button-global:hover {
	color: #0065fc;
	background-color: #deebff;
}
.button-text:hover {
	color: #0065fc;
}

/*Zone infos nombre de logements*/

.infos-logements {
	font-size: 13px;
	display: flex;
	align-items: baseline;
}
.infos-icon {
	color: #0065fc;
}
.infos-icon i {
	height: 25px;
	width: 25px;
	border-radius: 25px;
	border: 1px solid #f2f2f2;
	justify-content: center;
	align-items: center;
	padding: 4px 0 0 9px;
}
.infos-txt {
	padding-left: 10px;
	padding-bottom: 35px;
}

/*Hebergements à Marseille*/

.zone_hebergements_et_populaires {
	display: flex;
	justify-content: space-between;
}

/*Couleurs des étoiles*/
.etoile-bleue {
	color: #0065fc;
}
.etoile-grise {
	color: #f2f2f2;
}
/*Mise en place des cards*/
.fond_hebergements {
	display: flex;
	width: 65%;
	height: 626px;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #f2f2f2;
	border-radius: 20px;
}
.fond_hebergements a {
	text-decoration: none;
	margin: 15px;
}
.titre_hebergements {
	display: flex;
	width: 100%;
	align-items: center;
	height: 4%;
	padding-left: 35px;
	padding-top: 40px;
}
.hebergements_partie_1 {
	display: flex;
	height: 32%;
}
.hebergements_partie_2 {
	display: flex;
	height: 32%;
}
.card_hebergement {
	width: 246px;
	margin: 0px auto;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 5px 20px #999;
	transition: transform 1s;
}
.card_hebergement a {
	color: #333;
	text-decoration: none;
}
/*Effet sur les cards au :hover*/

.card_hebergement:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1.15, 1.15);
}
.photo_hebergements {
	height: 120px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}
.photo_hebergements img {
	width: 100%;
	height: 100%;
	padding: 5px;
	border-radius: 20px 20px 0 0;
}
.card_text {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding: 0 8% 2% 8%;
}
.titre_card,
.tarif_card {
	color: black;
}
.titre_card {
	font-weight: bold;
	font-size: 15px;
}
.tarif_card {
	font-size: 13px;
}
.note_card {
	font-size: 13px;
}
.fond_hebergements .suite a {
	font-size: 15px;
	font-weight: bold;
	color: black;
}

/*Les PLus Populaires*/

.etoile-populaires {
	color: black;
	margin-left: 19%;
}
.fond_populaires {
	display: flex;
	width: 32%;
	height: 626px;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #f2f2f2;
	border-radius: 20px;
}
.fond_populaires a {
	text-decoration: none;
	margin: 15px;
}
.titre_populaires {
	display: flex;
	width: 100%;
	align-items: center;
	height: 4%;
	padding-left: 35px;
	padding-top: 40px;
}
.card_populaires {
	display: flex;
	width: 345px;
	margin: 0px auto;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 5px 20px #999;
	transition: transform 1s;
}
.card_populaires a {
	color: #333;
	text-decoration: none;
}
/*Effet sur les cards au :hover*/

.card_populaires:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1.15, 1.15);
}
.photo_populaires {
	width: 130px;
	object-fit: cover;
	border-radius: 20px 0 0 20px;
}
.photo_populaires img {
	width: 100%;
	height: 100%;
	padding: 5px;
	border-radius: 20px 0 0 20px;
}
.card_text_populaires {
	display: flex;
	width: 60%;
	flex-direction: column;
	align-items: baseline;
	padding: 0 8% 2% 8%;
}
