/*Feuille de Style pour version Mobile*/

@media screen and (max-width: 768px) {
	body {
		width: 100%;
	}
	header {
		display: flex;
	}
	nav {
		padding-top: 0px;
		width: 100%;
	}

	.logo_booki a {
		width: 135px;
	}
	nav .liens_header {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}
	.liens_header a {
		padding: 20px 0px;
	}

	/* Zone de recherche */

	.search_zone {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}

	.search_zone h1 {
		margin-bottom: 20px;
		padding: 20px 10px 0 10px;
		font-size: 23px;
		margin: auto;
	}
	.subtitle {
		margin-bottom: 35px;
		font-size: 18px;
	}

	#zone_texte {
		background-color: #fff;
		border-radius: 0px;
		color: black;
		width: 100%;
	}
	form {
		width: 100%;
	}
	#search-bar {
		width: auto;
		border: none;
	}
	#search-bar .search-desktop {
		display: none;
	}
	#search-bar .loupe {
		display: block;
		color: white;
		background-color: #0065fc;
		border: none;
		border-radius: 15px;
		width: 57px;
		position: relative;
		right: 10px;
		font-weight: bold;
		cursor: pointer;
	}
	.loupe {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#search-bar .fa-search {
		margin-left: 16px;
		margin-top: 16px;
	}
	/* Filtres */

	.button-icon {
		width: 65px;
		height: 50px;
		padding: 16px 11px;
		margin-right: 0px;
	}
	.button-global {
		height: 50px;
	}

	/*Hebergements à Marseille*/

	.fond_hebergements {
		background-color: white;
	}
	.titre_hebergements {
		width: auto;
	}
	.card_hebergement {
		width: 335px;
	}
	.fond_populaires {
		width: 100%;
		border-radius: 0;
	}
	.titre_populaires {
		justify-content: center;
	}
	.activites_type_A,
	.activites_type_B {
		width: 100%;
	}
	.fond_activites {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.activites_type_A img {
		height: 150px;
	}
	.activites_type_B img {
		height: 150px;
	}
	.card_activites_A,
	.card_activites_B1,
	.card_activites_B2,
	.card_activites_B3,
	.card_activites_B4 {
		width: 100%;
	}
	.liens_footer {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 40px 20px;
	}
	footer h2 {
		margin-bottom: 5px;
	}
}
