/*Feuille de Style pour version Tablette*/

@media screen and (max-width: 992px) {
	nav {
		flex-direction: column;
		border-bottom: 2px solid #f2f2f2;
	}
	.logo_booki {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0px 10px 40px;
	}
	.logo_booki img {
		margin: -10px 0 -10px 0;
		width: 135px;
	}
	.liens_header {
		width: 50%;
	}
	.liens_header a {
		border-bottom: 3px solid transparent;
	}
	.liens_header a:hover {
		border-top: 3px solid transparent;
		border-bottom: 3px solid #0065fc;
	}
	/* Zone de recherche */

	.search_zone h1 {
		width: auto;
		padding-top: 20px;
		text-align: center;
	}
	.subtitle {
		padding: 10px;
		text-align: center;
	}
	#search-bar {
		justify-content: center;
	}
	form {
		justify-content: center;
	}
	.infos-logements {
		justify-content: center;
	}
	/* Filtres */

	.box-filtre {
		justify-content: center;
		flex-wrap: wrap;
	}
	.infos-txt {
		font-size: 18px;
	}

	/*Hebergements à Marseille*/

	.zone_hebergements_et_populaires {
		flex-direction: column-reverse;
		align-items: center;
	}
	.fond_populaires {
		width: 45%;
	}
	.fond_hebergements {
		width: 100%;
		margin-top: 4%;
	}
	.hebergements_partie_1,
	.hebergements_partie_2 {
		height: 38%;
	}
	.liens_footer {
		gap: 12%;
		justify-content: center;
	}
	.footer_about,
	.footer_hebergements,
	.footer_help {
		width: 28%;
	}
}
